html {
    min-height: 100%;
}

header {
    padding: 20px;
    margin: 0;
    text-align: center;

}

body {
    font-size: 0;
    margin: 0;
    background-color: #ffffff;
    background-image: linear-gradient(#1FCFF8FF 0%, #C1F3FFFF 20%, #ffffff 100%);
}

.hr-header {
    margin: 5px;
    border-width: 0;
    background: linear-gradient(to right, #C1F3FFFF, #1FCFF8FF, #C1F3FFFF);
    height: 10px;
    border-radius: 10px;
}

.hr-footer {
    margin: 5px;
    border-width: 0;
    background: linear-gradient(to right, #9ee9ff, #ffffff, #9ee9ff);
    height: 10px;
    border-radius: 10px;
}

main {
    padding: 20px;
    font-size: 16px;
}

#page-title-link {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 40px;
}

#page-title {
    padding: 20px;
}

h2 {
    margin: 0;
    color: #af0a0a;
}

footer {
    font-size: 16px;
    display: block;
    text-align: center;
    bottom: 0;
}

.icon {
    vertical-align: middle;
}

#host {
    text-align: left;
}