html {
    min-height: 100%;
}

header {
    padding: 20px;
    margin: 0;
    text-align: center;

}

article {
    max-width: 80%;
    min-width: 300px;
    padding: 5px 20px 20px 20px;
    backdrop-filter: brightness(105%);
    margin: 30px auto 20px auto;
    box-shadow: 0 0 20px 0 #777777, 0 0 4px 0 #000000 inset, 0 0 4px 0 #000000;
    transform: translate(0, 0);
    transition: box-shadow 0.3s, transform 0.3s;
}

article:hover {
    box-shadow: 0 0 20px 0 #000000, 0 0 4px 0 #000000 inset, 0 0 4px 0 #000000;
    transform: translate(0, 5px);
}

body {
    font-size: 0;
    margin: 0;
    background-color: #ffffff;
    background-image: linear-gradient(#1FCFF8FF 0%, #C1F3FFFF 20%, #e0f9ff 100%);
}

body::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(#1FF81F 0%, #C1F3C1 20%, #e0f9e0 100%);
    z-index: -1;
    opacity: 0;
    transition: opacity 1.5s;
}

body:has(h1 a:hover)::before {
    opacity: 1;
}

h1 a {
    overflow: hidden;
    padding: 10px;
    background-color: #fff3;
    box-shadow: 0 0 4px #000,
    6px 2px 8px #000c;
    font-family: "Courier New", "Droid Sans Mono", "Cascadia Code", Consolas, serif;
    transform: perspective(400px) rotate3d(0, -1, 0, 30deg);
    transition: transform 1.5s, text-shadow 1.5s, box-shadow 1.5s;
    text-shadow: 2px 1px 0 #055,
    4px 2px 0 #077,
    6px 3px 0 #099,
    8px 4px 0 #0bb,
    10px 5px 0 #0dd,
    12px 6px 0 #0ff,
    14px 6px 0 #2ff;
}

h1 a:hover {
    transform: perspective(400px) rotate3d(0, 1, 0, 390deg);
    text-shadow: -2px 1px 0 #050,
    -4px 2px 0 #070,
    -6px 3px 0 #090,
    -8px 4px 0 #0b0,
    -10px 5px 0 #0d0,
    -12px 6px 0 #0f0,
    -14px 6px 0 #2f2;
    box-shadow: 0 0 4px #000,
    -6px 2px 8px #000c;
}

.hr-header {
    margin: 5px;
    border-width: 0;
    background: linear-gradient(to right, #C1F3FFFF, #1FCFF8FF, #C1F3FFFF);
    height: 10px;
    border-radius: 10px;
}

.hr-footer {
    margin: 5px;
    border-width: 0;
    background: linear-gradient(to right, #9ee9ff, #ffffff, #9ee9ff);
    height: 10px;
    border-radius: 10px;
}

main {
    font-size: 20px;
    font-family: Tahoma, sans-serif;
}

#page-title-link {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 40px;
}

#page-title {
    padding: 20px;
}

h2 {
    margin: 0;
    font-size: 30px;
    color: #af0a0a;
    display: inline-block;
    width: auto;
    font-variant: small-caps;
}

h2 a:first-of-type {
    background-color: inherit;
    font-size: 0;
    opacity: 0;
    color: #444444;
    text-decoration: none;
    transition: opacity 0.3s, color 0.2s, font-size 0s;
    transition-timing-function: ease-in;
}

h2:hover a:first-of-type {
    font-size: 14px;
    opacity: 1;
}

h2 a:first-of-type:hover {
    color: #dd5500;
}

h2 a:first-of-type::after {
    content: " " attr(href);
}

footer {
    font-size: 18px;
    font-weight: bold;
    display: block;
    text-align: center;
    bottom: 0;
}

.icon {
    vertical-align: middle;
}

#host {
    text-align: left;
}

a:active {
    color: #f00;
}

a:focus {
    color: #150;
}

article:first-of-type p:first-of-type:first-letter {
    font-size: 50px;
    font-family: "Old English Text MT", Tahoma, sans-serif;
}