html {
    min-height: 100%;
}

header {
    padding: 20px;
    margin: 0;
    text-align: center;
}

nav {
    display: inline-block;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px #061a4d;
    backdrop-filter: brightness(110%);
    user-select: none;
    margin: 5px auto 10px;
}

.nav-container {
    display: inline-block;
    position: relative;
    width: 75px;
    height: 50px;
    background-color: #fff8;
    box-shadow: 0 0 5px #5558 inset;
    border-radius: 100px 100px 100px 100px;
    color: black;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}

.nav-container span {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: -30px;
    top: 50px;
    padding: 20px 30px 10px;
    clip-path: polygon(0 100%, 100% 100%, 100% 30%, 97% 24%, 90% 20%, 60% 20%, 50% 20%, 40% 20%, 10% 20%, 3% 24%, 0 30%);
    border-radius: 10px;
    background: linear-gradient(#fff 0%, #fff0 100%);
    line-height: 40px;
    display: inline-block;
    text-align: center;
    opacity: 0;
    transform: rotate3d(1, 0, 0, -90deg) perspective(10px);
    transform-origin: 50% 0;
    transition: opacity 1.5s, transform 1.5s, clip-path 1s;
}

.nav-container a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 50px;
    border-radius: inherit;
}

.nav-container img {
    width: 28px;
    height: 28px;
    transition: 0.5s;
}

.nav-container.active {
    background-color: #28FF3288;
    box-shadow: 0 0 5px #0F5E1388 inset;
}

.nav-container:has(a:hover), .nav-container:focus {
    border-radius: 100px 50px 100px 50px;
    background-color: #fffc;
}

.nav-container:hover img, .nav-container:focus img {
    filter: blur(1px) grayscale(100%);
}

.nav-container a:hover + span {
    opacity: 1;
    transform: rotate3d(0, 0, 0, 90deg) perspective(100px);
    clip-path: polygon(0 100%, 100% 100%, 100% 30%, 97% 24%, 90% 20%, 60% 20%, 50% 0, 40% 20%, 10% 20%, 3% 24%, 0 30%);
    animation-name: shake;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: 1s;
}

@keyframes shake {
    0% {
        transform: rotate3d(0, 0, 1, 0deg) perspective(100px);
        animation-timing-function: ease-out;
    }
    25% {
        transform: rotate3d(0, 0, 1, 2deg) perspective(100px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: rotate3d(0, 0, 1, 0deg) perspective(100px);
        animation-timing-function: ease-out;
    }
    75% {
        transform: rotate3d(0, 0, 1, -2deg) perspective(100px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: rotate3d(0, 0, 1, 0deg) perspective(100px);
    }
}

.nav-container.active:has(a:hover), .nav-container.active:focus {
    border-radius: 100px 50px 100px 50px;
    background-color: #28FF32AA;
}

article {
    position: relative;
    z-index: -1;
    max-width: 80%;
    min-width: 300px;
    padding: 5px 20px 20px 20px;
    backdrop-filter: brightness(105%);
    margin: 30px auto 20px auto;
    box-shadow: 0 0 20px 0 #777777, 0 0 4px 0 #000000 inset, 0 0 4px 0 #000000;
    transform: translate(0, 0);
    transition: box-shadow 0.3s, transform 0.3s;
}

article:hover {
    box-shadow: 0 0 20px 0 #000000, 0 0 4px 0 #000000 inset, 0 0 4px 0 #000000;
    transform: translate(0, 5px);
}

@property --body-c1 {
    syntax: '<color>';
    initial-value: #1FCFF8;
    inherits: false;
}
@property --body-c2 {
    syntax: '<color>';
    initial-value: #C1F3FF;
    inherits: false;
}
@property --body-c3 {
    syntax: '<color>';
    initial-value: #E0F9FF;
    inherits: false;
}

body {
    font-size: 0;
    margin: 0;
    background-color: #ffffff;
    /*background-image: linear-gradient(#1FCFF8 0%, #C1F3FF 20%, #e0f9ff 100%);*/
    background-image: linear-gradient(var(--body-c1) 0%, var(--body-c2) 20%, var(--body-c3) 100%);
    transition: --body-c1 1.5s, --body-c2 1.5s, --body-c3 1.5s;
}

body:has(h1:hover) {
    --body-c1: #1FF81F;
    --body-c2: #C1FFC1;
    --body-c3: #E0FFE0;
}

h1 {
    display: inline-block;
    margin: 20px;
}

h1 a {
    overflow: hidden;
    padding: 10px;
    background-color: #fff3;
    box-shadow: 0 0 4px #000,
    6px 2px 8px #000c;
    font-family: "Courier New", "Droid Sans Mono", "Cascadia Code", Consolas, serif;
    transform: perspective(400px) rotate3d(0, -1, 0, 30deg);
    transition: transform 1.5s, text-shadow 1.5s cubic-bezier(0.3, 1, 0.7, 0), box-shadow 1.5s;
    text-shadow: 1px 1px 0 #fff,
    -1px -1px 0 #fff,
    2px 1px 0 #055,
    4px 2px 0 #077,
    6px 3px 0 #099,
    8px 4px 0 #0bb,
    10px 5px 0 #0dd,
    12px 6px 0 #0ff,
    14px 6px 0 #2ff;
}

h1:hover a {
    transform: perspective(400px) rotate3d(0, 1, 0, 390deg);
    text-shadow: 1px 1px 0 #fff,
    -1px -1px 0 #fff,
    -2px 1px 0 #050,
    -4px 2px 0 #070,
    -6px 3px 0 #090,
    -8px 4px 0 #0b0,
    -10px 5px 0 #0d0,
    -12px 6px 0 #0f0,
    -14px 6px 0 #2f2;
    box-shadow: 0 0 4px #000,
    -6px 2px 8px #000c;
}

@property --hr-h-c1 {
    syntax: '<color>';
    initial-value: #C1F3FF;
    inherits: false;
}
@property --hr-h-c2 {
    syntax: '<color>';
    initial-value: #1FCFF8;
    inherits: false;
}

#page-title-link {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 40px;
}

#page-title {
    padding: 0;
}

.hr-header {
    margin: 5px;
    border-width: 0;
    /*background: linear-gradient(to right, #C1F3FF, #1FCFF8, #C1F3FF);*/
    background: linear-gradient(to right, var(--hr-h-c1), var(--hr-h-c2), var(--hr-h-c1));
    height: 10px;
    border-radius: 10px;
    transition: --hr-h-c1 1.5s, --hr-h-c2 1.5s;
}

body:has(h1:hover) .hr-header {
    --hr-h-c1: #C1FFC1;
    --hr-h-c2: #1FF81F;
}

.hr-header::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #C1FFC1, #1FF81F, #C1FFC1);
    z-index: -1;
    opacity: 0;
    transition: opacity 1.5s;
}

@property --hr-f-c1 {
    syntax: '<color>';
    initial-value: #9EE9FF;
    inherits: false;
}
@property --hr-f-c2 {
    syntax: '<color>';
    initial-value: #FFFFFF;
    inherits: false;
}

.hr-footer {
    margin: 5px;
    border-width: 0;
    /*background: linear-gradient(to right, #9EE9FF, #FFFFFF, #9EE9FF);*/
    background: linear-gradient(to right, var(--hr-f-c1), var(--hr-f-c2), var(--hr-f-c1));
    height: 10px;
    border-radius: 10px;
    transition: --hr-f-c1 1.5s, --hr-f-c2 1.5s;
}

body:has(h1:hover) .hr-footer {
    --hr-f-c1: #9EFF9e;
    --hr-f-c2: #FFFFFF;
}

main {
    font-size: 20px;
    font-family: Tahoma, sans-serif;
}

h2 {
    margin: 0;
    font-size: 30px;
    color: #af0a0a;
    display: inline-block;
    width: auto;
    font-variant: small-caps;
}

h2 a:first-of-type {
    background-color: inherit;
    font-size: 0;
    opacity: 0;
    color: #444444;
    text-decoration: none;
    transition: opacity 0.3s, color 0.2s, font-size 0s;
    transition-timing-function: ease-in;
}

h2:hover a:first-of-type {
    font-size: 14px;
    opacity: 1;
}

h2 a:first-of-type:hover {
    color: #dd5500;
}

h2 a:first-of-type::after {
    content: " " attr(href);
}

footer {
    font-size: 18px;
    font-weight: bold;
    display: block;
    text-align: center;
    bottom: 0;
}

.icon {
    vertical-align: middle;
}

#host {
    text-align: left;
}

main a:focus {
    color: #150;
}

main a:active {
    color: #f00;
}

article:first-of-type p:first-of-type:first-letter {
    font-size: 50px;
    font-family: "Old English Text MT", Tahoma, sans-serif;
}