/* included fonts */
@font-face {
    font-family: BKoodak;
    src: url("/assets/fonts/b-koodak.ttf");
}

@font-face {
    font-family: SHarrington;
    src: url("/assets/fonts/HARNGTON.TTF");
}

@font-face {
    font-family: SGeorgia;
    src: local(Georgia), url("/assets/fonts/georgia.ttf");
}

/* resetting margins and paddings */
*:not(p,li,ol,ul) {
    padding: 0;
    margin: 0;
}

html {
    /*scroll-behavior: smooth;*/
}

/* h2 margin fix */
h2 {
    margin-top: 24px;
}

/* main background color */
body {
    background-color: antiquewhite;
    background-size: 100px 100px;
    background-image: linear-gradient(45deg, transparent 0%, transparent 48%, #eedfcc 50%, transparent 52%, transparent 100%),
    linear-gradient(135deg, transparent 0%, transparent 48%, #eedfcc 50%, transparent 52%, transparent 100%),
    radial-gradient(transparent 0%, transparent 31%, #eedfcc 33%, transparent 35%, transparent 100%);
}

/* header */
header {
    text-align: center;
    background: radial-gradient(lightskyblue 0%, antiquewhite 150%);
    display: block;
    position: relative;
    width: fit-content;
    min-width: 400px;
    margin: 1% auto 5px;
    padding: 40px 40px;
    border-radius: 100px;
    box-shadow: 2px 1px 5px #000a;
    white-space: nowrap;
}

header a {
    margin: 0 80px;
    font-size: 36px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    text-shadow: 0 0 20px gold;
    font-family: Harrington, SHarrington, system-ui;
}

/* footer */
footer {
    margin: 20px auto;
    background-color: whitesmoke;
    font-size: 16px;
    padding: 20px;
    max-width: 800px;
    border-radius: 20px;
    border: 2px dimgray solid;
    box-shadow: 0 0 10px black inset;
    opacity: 0.5;
    transition: opacity 300ms;
}

footer:hover {
    opacity: 1;
}

footer a {
    text-decoration: none;
    color: darkblue;
}

footer img {
    position: relative;
    width: 24px;
    top: 5px;
}

/* whole page style, except header and footer */
#main-page {
    position: relative;
    padding: 30px;
    margin: 5px 5% 1%;
    display: block;
    grid: 1fr / 260px auto;
    gap: 0;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #000a, 0 0 2px black;
    background-color: wheat;
    font-family: "B Koodak", BKoodak, Georgia, SGeorgia, system-ui;
}

/* side nav container */
aside {
    position: absolute;
    width: fit-content;
    top: 40px;
    transition: all 0.5s 0s;
    font-size: 24px;
    font-family: Harrington, SHarrington, system-ui;
}

/* sidebar navigation */
nav.side {
    position: relative;
    background-color: #faf0e1;
    box-shadow: 0 0 5px 1px #0007;
    font-size: 24px;
    padding: 10px;
    width: 260px;
    border-radius: 10px;
    font-weight: bold;
    overflow: hidden;
    transition: box-shadow 300ms;
}

nav.side:hover {
    box-shadow: 0 0 5px 1px #000;
}

nav.side a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    line-height: 150%;
}

nav.side ul {
    padding: 5px;
    margin: 5px;
    font-size: 24px;
}

nav.side li {
    position: relative;
    width: fit-content;
    list-style-type: none;
    transition: margin-left 300ms;
}

nav.side li:hover {
    margin-left: 5px;
}

nav.side li::before {
    content: '▷ ';
    color: darkblue;
}

nav.side li::after {
    content: "";
    position: absolute;
    transform: scaleX(0);
    background-color: darkblue;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom left;
    transition: transform 300ms ease-out;
}

nav.side li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#nav-button { /* this button only shows on mobile screens (hopefully!) */
    user-select: none;
    position: absolute;
    top: 0;
    padding: 50px 0 50px 10px;
    background: linear-gradient(to left, crimson 25%, #faf0e1 100%);
    right: 0;
    height: 100%;
    width: 20px;
    visibility: hidden;
}

/* container of the main contents of the page */
main {
    position: relative;
    margin-left: 290px;
    min-height: 60vh;
}

/* article contents */
article {
    background-color: whitesmoke;
    box-shadow: 0 0 5px 1px;
    padding: 3%;
    font-size: 20px;
    direction: rtl;
    border-radius: 10px;
}

article li:not(:last-child) {
    margin-bottom: 8px;
}

article p {
    text-align: justify;
}

article a {
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 0 1px #000000aa;
}

article img:not(.temp-img) {
    margin: 5px auto;
    display: block;
    max-width: 80%;
    box-shadow: 0 0 3px 1px black;
    transition: box-shadow 500ms;
    border-radius: 20px;
}

/* table of contents */
nav.toc {
    border-radius: 10px;
    padding: 10px 20px;
    width: fit-content;
    box-shadow: 0 0 10px gray inset;
    margin-top: 20px;
    margin-bottom: 20px;
    backdrop-filter: brightness(101%);
    transition: all 300ms;
    font-size: 20px;
    min-width: 33%;
}

nav.toc:hover {
    box-shadow: 0 0 15px dimgray inset;
    backdrop-filter: brightness(102%);
}

nav.toc a {
    text-decoration: none;
    color: darkblue;
}

nav.toc summary {
    cursor: grab;
}

nav.toc summary:active {
    cursor: grabbing;
}

nav.toc summary {
    font-size: 28px;
    font-weight: bold;
}

nav.toc ol {
    margin-top: 5px;
}

/* styling those texts that are supposed to be only english */
.english {
    font-family: Andalus, system-ui;
    direction: ltr;
    unicode-bidi: isolate;
}

/* container of the code blocks */
.code-container {
    direction: ltr;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}

/* forcing all code blocks to be left to right */
code {
    direction: ltr;
    unicode-bidi: isolate;
}

blockquote {
    position: relative;
    color: #444;
    backdrop-filter: brightness(95%);
    width: 80%;
    margin: 10px auto 30px;
    border-radius: 50px;
    padding: 0 40px 10px 20px;
}

/* Styling the table data */
table {
    text-align: center;
    margin: 20px auto;
    background-color: #272822;
    color: #F8F8F2;
    padding: 10px;
    border-radius: 10px;
    border-collapse: collapse;
    box-shadow: 0 0 5px 10px #272822;
}
table > caption {
    /*background-color: #272822;*/
    padding-bottom: 10px;
    color: #000;
    font-size: 120%;
}

td {
    border: 2px #F8F8F2 solid;
    padding: 5px 10px;
}
th {
    padding: 5px;
}
tr > td:last-child {
    color: skyblue;
}

blockquote::before {
    content: "\"";
    font-size: 60px;
    color: #567;
    position: absolute;
    right: 10px;
    top: -25px;
}

/* trinket interactive python */
#trinket {
    border: 1px solid;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#trinketBtn {
    width: 200px;
    font-size: 30px;
    box-shadow: 0 0 15px darkgoldenrod, 0 0 2px 2px darkgreen inset;
    border: none;
    background-color: lightgreen;
    border-radius: 15px;
    padding: 5px 0;
}

#trinketBtn:hover {
    background-color: #a2f1a2;
}

#trinketBtn:active {
    box-shadow: 0 0 15px darkgoldenrod, 0 0 1px 1px darkgreen inset;
}

div:has(iframe) {
    position: relative;
    width: 80%;
    height: 400px;
    margin: 60px auto 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}

div:has(iframe)::before {
    position: absolute;
    top: -50px;
    right: 0;
    content: "شاید فقط با فیلترشکن باز بشه (تقصیر جمهوری اسلامیه!)";
}

/* invite to python group style */
#python-invite {
    background: radial-gradient(ellipse at 25%, mediumslateblue 0%, whitesmoke 75%);
    box-shadow: -5px 0 10px mediumslateblue;
    width: fit-content;
    margin: 10px auto;
    padding: 5px 30px 15px;
    position: relative;
    text-align: center;
    border-radius: 30px;
    transition: box-shadow 500ms;
}

#python-invite:hover {
    box-shadow: -3px 0 12px darkblue;
}

#python-invite a {
    text-decoration: none;
    color: black;
}

#python-invite img {
    position: relative;
    top: 15px;
    left: 10px;
    display: inline-block;
}

/* responsive */
@media only screen and (orientation: portrait) {
    #main-page {
        margin: 5px 1% 1%;
        grid: 1fr / 0 100%;
    }

    main {
        margin-left: 0;
    }

    aside {
        left: -250px;
    }

    nav.side {
        z-index: 10;
        position: absolute;
    }

    #nav-button {
        visibility: visible;
    }

    nav.toc {
        font-size: 18px;
        min-width: 80%;
    }

    aside:hover {
        left: -20px;
        transition: all 0.5s 0.2s;
    }

    article {
        font-size: 18px;
    }

    .code-container {
        width: 90%;
    }
}

@media print {
    #main-page {
        margin: 5px 0.5% 1%;
        grid: 1fr / 0 100%;
        padding: 5px;
    }

    main {
        margin-left: 0;
    }

    nav.toc {
        font-size: 15px;
        min-width: 80%;
    }

    article {
        font-size: 15px;
    }

    .code-container {
        width: 99%;
        font-size: 14px;
    }

    .top-bar {
        visibility: hidden;
    }

    aside {
        visibility: hidden;
    }

    article {
        font-size: 15px;
    }

    .trinket {
        display: none;
    }

    #trinket-header {
        display: none;
    }
}