@font-face {
    font-family: BKoodak;
    src: url("/assets/fonts/b-koodak.ttf");
}

*:not(p,li,ol,ul) {
    padding: 0;
    margin: 0;
}

body {
    background-color: antiquewhite;
}

header {
    text-align: center;
    background: radial-gradient(lightskyblue 0%, antiquewhite 150%);
    display: block;
    position: relative;
    width: fit-content;
    min-width: 450px;
    margin: 1% auto 5px;
    padding: 40px 40px;
    border-radius: 100px;
    box-shadow: 2px 1px 5px #000a;
    overflow: visible;
}

header a {
    margin: 0 80px;
    font-size: 40px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    text-shadow: 0 0 20px gold;
    font-family: Harrington, system-ui;
}

#main-page {
    padding: 30px;
    margin: 5px 5% 1%;
    display: grid;
    grid: 1fr / 1fr 4fr;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #000a, 0 0 2px black;
    background-color: wheat;
}

nav {
    background-color: #faf0e1;
    box-shadow: 0 0 5px 1px #0007;
    font-size: 150%;
    padding: 10px;
    border-radius: 10px;
    min-width: 160px;
    transition: box-shadow 500ms;
    font-weight: bold;
}

nav:hover {
    box-shadow: 0 0 5px 1px #000;
}

nav a {
    text-decoration: none;
    color: black;
    line-height: 150%;
}

nav ul {
    padding: 5px;
    margin: 5px;
}

nav li {
    position: relative;
    width: fit-content;
    list-style-type: none;
    transition: margin-left 300ms;
}

nav li:hover {
    margin-left: 5px;
}

nav li::before {
    content: '▶ ';
    color: darkblue;
}

nav li::after {
    content: "";
    position: absolute;
    transform: scaleX(0);
    background-color: darkblue;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom left;
    transition: transform 300ms ease-out;
}

nav li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

article {
    background-color: whitesmoke;
    font-family: BKoodak, Andalus, serif;
    box-shadow: 0 0 5px 1px;
    padding: 20px;
    font-size: 20px;
    direction: rtl;
    border-radius: 10px;
}

article li:not(:last-child) {
    margin-bottom: 8px;
}

article p {
    text-align: justify;
}

article a {
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 0 1px #000000aa;
}

.code-container {
    direction: ltr;
    max-width: 1200px;
    margin: 0 auto;
}

#python-invite {
    background: radial-gradient(ellipse at 25%, mediumslateblue 0%, whitesmoke 75%);
    box-shadow: -5px 0 10px mediumslateblue;
    width: fit-content;
    margin: 10px auto;
    padding: 5px 30px 15px;
    position: relative;
    text-align: center;
    border-radius: 30px;
    transition: box-shadow 500ms;
}

#python-invite:hover {
    box-shadow: -3px 0 12px darkblue;
}

#python-invite a {
    text-decoration: none;
    color: black;
}

#python-invite img {
    position: relative;
    top: 10px;
    left: 10px;
}
