:root {
    --big-font: 1.2rem;
    --medium-font: 1rem;
    --small-font: 0.8rem;
    --clr-gray-100: #eeeeee;
    --clr-gray-200: #dddddd;
    --clr-gray-300: #cccccc;
    --clr-gray-400: #bbbbbb;
    --clr-gray-500: #aaaaaa;
    --clr-primary: #1b84ff;
    --clr-primary2: #197bee;
    --clr-primary3: #1772dd;
    --clr-danger: #f8285a;
    --clr-danger2: #e72554;
    --clr-danger3: #d7234e;

    --behind-color-light: rgb(200, 200, 200);
    --main-color-light: rgb(210, 230, 240);
    --card-color: rgb(235, 245, 255);
    --main-gradient: linear-gradient(-45deg, rgb(152, 195, 216), rgb(210, 230, 240));
    --button-bg: linear-gradient(-45deg, rgb(53, 174, 213), rgb(255, 255, 255));
    --button-bg-delete: linear-gradient(-45deg, rgb(213, 53, 53), rgb(255, 255, 255));
    background: var(--behind-color-light);
}

html {
    padding: 0;
    margin: 0;
    font-size: 16px
}

body {
    padding: 0;
    margin: 0;
}

.btn {
    border-radius: 10px;
    border: none;
    padding: 0.75rem 1rem;
    cursor: pointer;
    font-size: 1.1rem;
    color: white;
    margin: 0 0.25rem;
}

.btn.primary {
    background: var(--clr-primary);
    /*box-shadow: inset 0 0 4px var(--clr-primary), inset 0 0 5px var(--clr-primary), inset 1px 1px 6px #fff, inset -1px -1px 6px #000;*/
    transition: background 0.2s ease, box-shadow 0.2s ease;
}

.btn.primary:hover {
    background: var(--clr-primary2);
    /*box-shadow: inset 0 0 4px var(--clr-primary2), inset 0 0 5px var(--clr-primary2), inset 1px 1px 6px #fff, inset -1px -1px 6px #000;*/
}

.btn.primary:active {
    background: var(--clr-primary3);
    /*box-shadow: inset 0 0 4px var(--clr-primary3), inset 0 0 5px var(--clr-primary3), inset 1px 1px 6px #fff, inset -1px -1px 6px #000;*/
}

.btn.secondary {
    background: var(--clr-gray-200);
    color: black;
    /*box-shadow: inset 0 0 4px var(--clr-gray-200), inset 0 0 5px var(--clr-gray-200), inset 1px 1px 6px #fff, inset -1px -1px 6px #000;*/
    transition: background 0.2s ease, box-shadow 0.2s ease;
}

.btn.secondary:hover {
    background: var(--clr-gray-300);
    /*box-shadow: inset 0 0 4px var(--clr-gray-300), inset 0 0 5px var(--clr-gray-300), inset 1px 1px 6px #fff, inset -1px -1px 6px #000;*/
}

.btn.secondary:active {
    background: var(--clr-gray-400);
    /*box-shadow: inset 0 0 4px var(--clr-gray-400), inset 0 0 5px var(--clr-gray-400), inset 1px 1px 6px #fff, inset -1px -1px 6px #000;*/
}

.btn.danger {
    background: var(--clr-danger);
    /*box-shadow: inset 0 0 4px var(--clr-danger), inset 0 0 5px var(--clr-danger), inset 1px 1px 6px #fff, inset -1px -1px 6px #000;*/
    transition: background 0.2s ease, box-shadow 0.2s ease;
}

.btn.danger:hover {
    background: var(--clr-danger2);
    /*box-shadow: inset 0 0 4px var(--clr-danger2), inset 0 0 5px var(--clr-danger2), inset 1px 1px 6px #fff, inset -1px -1px 6px #000;*/
}

.btn.danger:active {
    background: var(--clr-danger3);
    /*box-shadow: inset 0 0 4px var(--clr-danger3), inset 0 0 5px var(--clr-danger3), inset 1px 1px 6px #fff, inset -1px -1px 6px #000;*/
}

input[type="text"], input[type="number"] {
    background: var(--clr-gray-100);
    border: none;
    border-radius: 10px;
    padding: 0 1rem;
    font-size: 1.1rem;
    box-sizing: border-box;
    margin: 0 0.25rem;
    height: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="text"]:focus, input[type="number"]:focus {
    background: var(--clr-gray-200);
    outline: none;
}

.big-checkbox > input {
    width: 50px;
    height: 30px;
    margin: 5px 0;
    cursor: pointer;
    position: relative;
    appearance: none;
}

.big-checkbox > input::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--clr-gray-100);
    border-radius: 40px;
}

.big-checkbox > input:checked::before {
    content: "";
    background: var(--clr-primary);
    border-radius: 40px;
}

.big-checkbox > input:active::before {
    background: var(--clr-gray-200);
}

.big-checkbox > input:checked:active::before {
    background: var(--clr-primary2);
}

.big-checkbox > input::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background: white;
    border-radius: 40px;
    transition: transform 0.2s ease;
}

.big-checkbox > input:checked::after {
    transform: translateX(20px);
}

.big-checkbox > input:active::after {
    background: var(--clr-gray-100);
}

select {
    background: var(--clr-gray-100);
    border: none;
    border-radius: 10px;
    padding: 0 1rem;
    font-size: 1.1rem;
    box-sizing: border-box;
    margin: 0 0.25rem;
    height: 40px;
    appearance: none;
    cursor: pointer;
}

select:focus {
    background: var(--clr-gray-200);
    outline: none;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    font-family: Inter, Helvetica, sans-serif;
    transition: transform 1s ease;
}

.flex-container > * {
    flex: 0 0 auto;
}

.flex-container * {
    align-items: center;
    align-self: center;
}

.flex-container > *:first-child {
    width: 30%;
}

.flex-container > *:last-child {
    width: 60%;
    align-self: flex-end;
}

::placeholder {
    color: var(--clr-gray-500);
}

.card {
    background: white;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 10px;
    font-size: var(--medium-font);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    font-family: Inter, Helvetica, sans-serif;
}

.card > h3 {
    font-size: calc(var(--big-font) * 2);
    margin: 0;
    padding: 0;
}

.left-section {
    flex: 2;
    text-align: center;
}

.middle-section {
    padding-top: 20px;
    flex: 1;
    text-align: center;
}

.right-section {
    flex: 1;
    text-align: right;
}

.card .buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.card .btn {
    padding: 0.75rem 1.5rem;
}

.card .btn.edit {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 5px 10px;
    border-radius: 0 20px 0 0;
    font-size: var(--small-font);
}

.card .goal-title {
    font-size: 2.5rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    margin: 0;
}

.card .progress {
    font-size: 1.5rem;
}

#main-container {
    width: min(600px, 90%);
    height: 800px;
    margin: 10px auto;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 5px;
    font-size: var(--medium-font);
    background: var(--clr-gray-100);
    display: flex;
    flex-direction: column;
}

#sticky-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
}

#sticky-header img {
    width: 50px;
}

#cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
}

#cards-container::-webkit-scrollbar {
    width: 5px;
}

#cards-container::-webkit-scrollbar-track {
    background: #0000;
}

#cards-container::-webkit-scrollbar-thumb {
    background-color: #8880;
}

#cards-container::-webkit-scrollbar-thumb:hover {
    background-color: #5559;
}

.button {
    cursor: pointer;
    opacity: 1.0;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3)) saturate(100%);
    transition: opacity 0.2s ease, filter 0.2s ease;
}

.button:hover {
    opacity: 0.9;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.8)) saturate(130%);
}

.button:active {
    opacity: 0.8;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6)) saturate(120%);
}

#overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* make the card editor center vertically and horizontally */
#card-editor {
    flex: 1 1 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 0;
    width: min(500px, 100%);
    background: white;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.0),
    inset 0 0 15px rgba(255, 255, 255, 0.6),
    inset 0 0 10px rgba(255, 255, 255, 1.0),
    inset 0 0 10px rgba(255, 255, 255, 1.0);
    padding: 10px;
    transition: transform 0.5s ease, opacity 0.5s ease, top 0.5s ease;
}

#card-editor > * {
    margin: 10px 0;
}

#card-editor-buttons {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

@media only screen and (max-width: 500px) {
    #main-container {
        height: calc(100vh - 30px);
    }
}
