body {
    margin: 0;
    position: relative;
}

#container {
    position: relative;
    max-width: 1000px;
    text-align: left;
    margin: 0 auto;
    border: 1px solid;
    display: flow-root;
}

.side-container {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    width: 40%;
    background: conic-gradient(#fff 0%, #fde 10%, #fff 20%, #fde 30%, #fff 40%, #fde 50%,
    #fff 60%, #fde 70%, #fff 80%, #fde 90%, #fff 100%);
    box-shadow: 0 0 10px #f00 inset;
    transition: 1s;
}

#left-list {
    float: left;
}

#right-list {
    float: right;
}

@media only screen and (max-aspect-ratio: 1/1) {
    .side-container {
        width: 45%;
    }
}