body {
    padding: 10px 5%;
    margin: 0;
    position: relative;
    text-align: center;
}

#container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    max-height: 100%;
    margin: 0 auto 0;
    border: 1px solid;
}

.side-container {
    height: fit-content;
    position: relative;
    padding: 2%;
    width: 40%;
    background: conic-gradient(#fff 0%, #fde 10%, #fff 20%, #fde 30%, #fff 40%, #fde 50%,
    #fff 60%, #fde 70%, #fff 80%, #fde 90%, #fff 100%);
    box-shadow: 0 0 10px #f00 inset;
}

#left-list {
}

#right-list {
}

#finish {
    margin-top: 20px;
    width: 100px;
    height: 60px;
}
