body {
    margin: 0;
    padding: 20px;
}

main {
    display: flex;
}

header {
    background-color: #76d0f5;
    background-image: url("../images/flywheel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

nav {
    text-align: center;
    padding: 20px;
}

nav a {
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    background-color: #ffffffbb;
    color: #1d5cb9;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -3px 3px 3px #ffffff, 3px -3px 5px #555555;
}

nav a.active {
    background-color: #ffffff;
}

nav a:not(.active):hover {
    background: linear-gradient(#ffffffdd, #ffffff77);
}

nav a.active:hover {
    background: linear-gradient(#ffffffff, #ffffffcc);
}

nav a:active:hover {
    box-shadow: -2px 2px 3px #ffffff, 1px -1px 3px #222222;
    transform: scale(0.95);
}

aside {
    display: inline-block;
    background-color: #ffaa99;
    width: 20%;
    height: 100%;
    float: left;
}

h1 {
    font-size: 40px;
    margin-top: 0;
    color: #ffffff;
    text-shadow: 2px 2px 2px #aaaaaa, -2px -2px 2px #aaaaaa, 2px -2px 2px #aaaaaa, -2px 2px 2px #aaaaaa;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    margin-top: 0;
    color: #061a4d;
    text-transform: uppercase;
}

section {
    display: inline-block;
    width: 70%;
    padding: 20px;
}

a:has(img) {
    display: block;
    width: 70%;
    margin: 20px auto;
}

a > img {
    width: 100%;
    border: 2px #000 solid;
}

table {
    width: 70%;
    margin: auto;
    font-size: 20px;
    font-family: Tahoma, Arial, sans-serif;
    font-weight: normal;
    line-height: 20px;
    border-spacing: 3px;
}

table tr:first-child {
    background: linear-gradient(to right, rgba(22, 59, 154, 0.4), #76d0f544),
    linear-gradient(to bottom, #76d0f5, #00bbbb);
}

td {
    border-radius: 3px;
}

table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

table tr:first-child th {
    border-bottom: 3px solid #1d48b4;
}

td, th {
    padding: 15px;
    text-align: center;
    margin: 4px;
}

td:first-child, th:first-child {
    text-align: left;
}

table tr:not(:first-child) {
    background-color: #c9e9ff;
    opacity: 0.7;
    transition: 0.3s;
}

table tr:not(:first-child):hover {
    opacity: 1;
}