.part * {
    transition: transform 500ms linear;
}

.part {
    transition: transform 500ms linear;
    width: 40px;
    height: 40px;
}

.ends {
    transition: all 500ms linear;
}

.ends * {
    transition: all 500ms linear;
}

#how-to {
    user-select: none;
    opacity: 0.5;
    position: absolute;
    bottom: 1%;
    left: 1%;
}

#how-to > div {
    font-size: 18px;
}